<div class="center-div flex-column with-margin">
    <h1>Bem vindo ao Github Crawler </h1>
    <p>Quer descobrir os repositórios mais legais em Java, Elixir, Python, Ruby e Scala? </p>

    <%= link_to "Então clique aqui :)", repositories_index_path, class: "btn" %> 
</div>